<ng-container *ngIf="tarea">
  <div class="card border shadow mb-3" [ngClass]="{'finalizada': tarea.estado === 'finalizada', 'en-curso': tarea.estado === 'en curso', 'vencida': tarea.estado === 'vencida'}">
    <div class="card-header text-white" (click)="toggleDetails()">
      <div class="nombre-tarea" [ngClass]="{'finalizada': tarea.estado === 'finalizada', 'en-curso': tarea.estado === 'en curso', 'vencida': tarea.estado === 'vencida'}">
        <div style="font-size: 22px; font-weight: bold; width: 400px;">
          {{ tarea.nombreTarea }}
          <!-- Agrega el icono check circle solo para tareas en curso -->
          <mat-icon *ngIf="tarea.estado === 'en curso'" (click)="marcarComoFinalizada(tarea)">check_circle</mat-icon>
          <!-- Agrega el icono restore solo para tareas finalizadas -->
          <mat-icon *ngIf="tarea.estado === 'finalizada'" (click)="restaurarTarea(tarea)">restore</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body" [@detallesAnimation]="mostrarDetalles ? 'activo' : 'inactivo' ">
      <p class="card-text">Estado de la Tarea: {{ tarea.estado }}</p>
      <p class="card-text">Descripcion de la Tarea: {{ tarea.descripcion }}</p>
      <p class="card-text">Fecha Límite: {{ tarea.fechaLimite | date:'dd/MM/yyyy' }}</p>
    </div>
    <mat-card-actions align="end" *ngIf="mostrarDetalles">
      <button mat-button color="primary" (click)="editarTarea(tarea)">Editar</button>
      <button mat-button color="warn" (click)="borrarTarea(tarea)">Borrar</button>
    </mat-card-actions>
  </div>
</ng-container>
