.card {
  max-width: 36rem;
  margin: 5px;
  border-radius: 10px;
}


.finalizada {
  background-color: #dcedc8;
  border: 1px solid #a5d6a7;
}

.en-curso {
  background-color: #bbdefb;
  border: 1px solid #64b5f6;
}

.vencida {
  background-color: #ffcdd2;
  border: 1px solid #ef9a9a;
}

.nombre-tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.nombre-tarea.finalizada {
  background-color: #4caf50;
  color: white;
}

.nombre-tarea.en-curso {
  background-color: #2196f3;
  color: white;
}

.nombre-tarea.vencida {
  background-color: #f44336;
  color: white;
}

.fecha-limite {
  font-weight: normal; /* Restablece el peso de la fuente a normal */
}

.card-body {
  font-size: 18px; /* Ajusta el tamaño de fuente del cuerpo de la tarjeta */
}

/* Formato de fecha */
.fecha-limite {
  font-weight: normal; /* Restablece el peso de la fuente a normal */
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.detalles-animacion {
  animation: fadeIn 0.5s ease-in-out;
}
